.input-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 316px;
    right: 16px;
    bottom: 24px;
    background-color: rgb(65, 61, 61);
    border: solid rgb(198, 198, 198);
    border-radius: 5px;
    padding: 8px;

    textarea {
        outline: none;
        background-color:  rgb(65, 61, 61);
        border: none;
        width: 100%;
        font-size: 18px;
        color: white;
    }

    button {
        width: 100px;
    }
}