$bg-color-1: rgb(35, 35, 35);
$bg-color-2: rgb(38, 41, 43);
$bg-color-3: rgb(20, 20, 20);
$bg-color-4: rgb(250, 250, 250);
$bg-color-5: rgb(150, 150, 150);
$bg-color-6: rgb(100, 100, 100);
$text-color: rgb(200, 200, 200);


.name_app {
    cursor: pointer;
}

.content_wrapper {
    position: absolute;
    height: 100svh;
    width: 100%;
}


.header_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    color: $text-color;
    padding: unset;
    background-color: $bg-color-1;
    overflow: visible;
}


.header_left {
    display: flex;
    align-items: center;

    button {
        height: 50px;
        width: 50px;
        background-color: unset;
        border: unset;
        color: $text-color;
        transition: all 150ms ease-in-out;
        margin-right: 20px;

        &:hover {
            cursor: pointer;
            background-color: $text-color;
            color: $bg-color-1;
            transition: all 150ms ease-in-out;
        }
    }
}


.header_center {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);

    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $bg-color-5;
        outline: unset;
        background-color: $bg-color-6;
        color: $bg-color-4;

        &::placeholder {
            color: $bg-color-4;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
        background: unset;
        cursor: unset;
    }

    .mat-expansion-panel {
        color: $bg-color-4;
        background-color: $bg-color-6;
    }

    mat-panel-title {
        margin: unset;
    }

    mat-icon {
        padding-left: 15px;
        color: $bg-color-5;
        width: 22px;

        &:hover {
            cursor: pointer;
        }
    }

    .mat-mdc-form-field-icon-suffix>.mat-icon {
        padding: unset;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: inherit;
    }
}


.search_history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    button {
        text-align: left;
        background-color: unset;
        border: unset;
        border-bottom: 1px solid transparent;
        width: 100%;
        color: $text-color;

        &:hover {
            cursor: pointer;
            border-bottom: 1px solid $bg-color-5;
        }

        &:last-child {
            align-self: end;
            width: unset;
        }
    }
}


.header_right {
    padding-top: 12px;
    padding-right: 20px;

    .header_user_profile {
        padding: unset;
        background-color: unset;
        border: unset;

        img {
            border-radius: 20%;
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        button {
        
        }
    }
}

.mat-badge.hide-text .mat-badge-content {
    color: transparent;
}


// Menu User Profile
.menu_user_profile {
    margin-top: 10px;
    width: 380px;
    background-color: $bg-color-1;

    mat-card-header {
        padding: unset;
        display: flex;
        align-items: center;
    }
}

.menu_user_img {
    width: 50px;
    height: 50px;
    margin: 10px;

    img {
        border-radius: 20%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.menu_user_head {
    display: flex;
    flex-direction: column;

    mat-card-title {
        font-size: 1.3rem;
        color: $text-color;
    }

    mat-card-subtitle {
        font-size: 1rem;
        color: $text-color;
    }
}

.menu_status {
    color: $bg-color-5;
    background-color: $bg-color-3;
    padding: 10px;
    border: 1px solid transparent;

    &:hover,
    &:focus {
        border: 1px solid $bg-color-5;
        cursor: pointer;
    }
}


.menu_profile {
    color: $text-color;
    margin: 10px;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus {
        border-bottom: 1px solid $text-color;
        cursor: pointer;
    }
}


.menu_logOut {
    display: flex;
    justify-content: flex-end;

    button {
        font-size: 18px;
        color: red;
        background-color: $bg-color-4;
        border: 1px solid red;
        transition: all 150ms ease-in-out;

        &:hover,
        &:focus {
            color: $bg-color-4;
            background-color: red;
            border: 1px solid $bg-color-4;
        }
    }
}



.sidenav_wrapper {
    width: 100%;
    height: calc(100% - 50px);
    background-color: $bg-color-2;
    color: $text-color;
}


.sidenav {
    background-color: $bg-color-3;
    width: 300px;
    padding-left: 8px;
}