$bg-color-1: rgb(35, 35, 35);
$bg-color-2: rgb(38, 41, 43);
$bg-color-3: rgb(20, 20, 20);
$bg-color-4: rgb(250, 250, 250);
$bg-color-5: rgb(150, 150, 150);
$text-color: rgb(200, 200, 200);

.search_wrapper {
    top: 0px;
    height: 200px;
}


.form_container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    padding-bottom: 0px;

    input {
        padding-bottom: 10px;
        width: 100%;
        color: $bg-color-5;
    }
}


.close_dialog {
    position: absolute;
    top: -4px;
    right: -20px;
}


mat-card-header {
    padding-top: 0px;
    padding-bottom: 5px;
    color: $bg-color-5;

}


mat-icon{
    color: $bg-color-5;
}


.search_history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    button {
        text-align: left;
        background-color: unset;
        border: unset;
        border-bottom: 1px solid transparent;
        width: 100%;
        color: $bg-color-5;



        &:hover {
            cursor: pointer;
            border-bottom: 1px solid $bg-color-5;
        }

        &:last-child {
            width: unset;
        }
    }
}


.clear_search_btn {
    position: absolute;
    bottom: -15px;
    right: 5px;
    background-color: unset;
    border: unset;
    color: $bg-color-5;
    text-align: right !important;

    &:hover {
        cursor: pointer;
    }
}