/* You can add global styles to this file, and also import other style files */
*:root {
    $base-color: rgb(25, 26, 26);
}

html,
body {
    height: 100%;
    margin: 0px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}