/* You can add global styles to this file, and also import other style files */
$bg-color-1: rgb(35, 35, 35);
$bg-color-2: rgb(38, 41, 43);
$bg-color-3: rgb(20, 20, 20);
$bg-color-4: rgb(250, 250, 250);
$bg-color-5: rgb(150, 150, 150);
$text-color: rgb(200, 200, 200);

*:root {
    $base-color: rgb(25, 26, 26);
}

html,
body {
    height: 100%;
    margin: 0px;
}


body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


// Classes for spaceing

.mt-16{
    margin-top: 16px;
}


.mb-16{
    margin-bottom: 16px;
}


.mr-16{
    margin-right: 16px;
}

.ml-16{
    margin-left: 16px;
}


.width_full{
    width: 100%;
}






// Classes to reset Angular Material default behaviour 
.mat-mdc-menu-panel.mat-mdc-menu-panel {
    max-width: unset !important;
    border-radius: 10px;
}


.mat-mdc-menu-content{
    padding: unset !important;
}


.mdc-menu-surface{
    background-color: transparent;
}